@page
@model EsyaCart.Pages.User.Productanddetails
@using System.Globalization
@{
    ViewData["Title"] = "Productanddetails";
}


<div class="container">
    @if(TempData["datamsg"]!=null)
    {
        <div class="text-danger fs-4 text-center">
        @TempData["datamsg"]
        </div>
    }
    <div class="container-main">
        <div class="image-container">
            <img src="~/Uploads/@Model.ProductInfo.ImageUrl" alt="" class="img border border-2 p-4">
        </div>
        <form method="post" class="buybtn-container">
            <button type="submit" asp-page-handler="AddCartAndBuy" asp-route-prodId="@Model.ProductInfo.Product_Id" class="form-control buybtn fs-3"><i class="fa-solid fa-bag-shopping fs-4" style="color: #ffffff;"></i> Buy</button>
        </form>
        @if(Model.cart2==null){
            <form method="post" class="cartbtncontainer">
                <button type="submit" asp-page-handler="AddToCart" asp-route-prodId="@Model.ProductInfo.Product_Id" class="form-control addcartbtn fs-3"><i class="fa-solid fa-cart-shopping fs-4" style="color: #ffffff;"></i> Add to cart </button>
            </form>
        }else{
            <div class="d-flex justify-content-center align-items-center cartbtncontainer2">
                <form method="post" class="ms-2">
                    <button type="submit" asp-page-handler="DecreasefromCart" asp-route-prodId="@Model.ProductInfo.Product_Id" class="btn btn-danger fs-3 px-3">-</button>
                </form>
                <h2 class="text-center mx-3">@Model.cart2.Quantity.ToString()</h2>
                <form method="post" class="me-2">
                    <button type="submit" asp-page-handler="AddToCart" asp-route-prodId="@Model.ProductInfo.Product_Id" class="btn btn-primary fs-3">+</button>
                </form>
                
            </div>
        }
        <div class="detailsContainer">
                    <div class="">                
                        <div class="" >
                            <h3  style="color: #495057;">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.ProductInfo.ProductName.ToLower())</h3>
                            <p class="fs-4" style="font-weight: 500; color: #495057;">₹ @Model.ProductInfo.Price</p>
                        </div>

                        <div class="">
                            <h3 class=""  style="color: #495057;">Product Description</h3>
                            <p class="fs-5" style="color: #495057;">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.ProductInfo.Description.ToLower())</p> 
                        </div> 
                    </div>

                <div class="border border-1 border-dark p-4" style="color: #495057;">
                    <h2 class="reviewstext" style="color: #495057;">Reviews & Rating</h2>
                    @if(Model.ProductReviewDetails.Count>0){
                            @foreach(var review in Model.ProductReviewDetails){
                        <div class="">
                            <p>@review.UserName</p>
                            <div class="text-white d-flex" style="width: max-content;">
                                
                                @{
                                    int integerPart=0;
                                    double decimalPart=0;
                                    integerPart = (int)Math.Truncate(review.Ratings); 
                                    decimalPart = review.Ratings - integerPart;
                                    if(integerPart>0){
                                        for(int i=0;i<integerPart;i++){
                                            <p class="px-1 fs-6"><i class="fa-solid fa-star" style="color:#ffc800;"></i></p>
                                        }
                                    }
                                    if(decimalPart>0){
                                        <p class="px-1 fs-6"><i class="fa-solid fa-star-half" style="color:#ffc800;"></i></p>
                                    }
                                }
                            </div>
                            <p class="fs-5 textcolor">@review.ReviewDescription</p>
                            
                        </div>
                        }
                    }else{
                        <h3 class="textcolor">No Reviews</h3>
                    }
                </div>
            
        </div>
    </div>
</div>