@page
@model EsyaCart.Pages.User.UserCart
@{
    ViewData["Title"] = "UserCart";
}



<div class="table-responsive">
     @if(Model.cartdata.Count>0){
        double sum = 0;
        <table class="w-100 table table-striped">
        <thead class="border-top-0 border-end-0 border-start-0 border-top-0 border-dark border-2">
            <tr class="my-5">
                <th class="text-center">Product</th>
                <th class="text-center">Product Name</th>
                <th class="text-center">Product Quantity</th>
                <th class="text-center"> </th>
                <th class="text-center">Price</th>
            </tr>
        </thead>  
              
        @foreach(var cartdata in Model.cartdata){
            <tbody>
                <tr class="border-top-0 border-end-0 border-start-0 border-top-0 border-dark border-1">
                    <td class="text-center cart-cell">
                        <img src="~/Uploads/@cartdata.ProductImageUrl" alt="" width="70px" height="70px">
                    </td>
                    <td class="text-center cart-cell fs-4">@cartdata.ProductName</td>
                    <td class="text-center cart-cell fs-4">@cartdata.ProductQuantity</td>
                    <td class="text-center cart-cell fs-4">
                        
                            <div class="d-flex justify-content-center align-items-center cartbtncontainer2">
                                 <form method="post" class="ms-2">
                                    <button type="submit" asp-page-handler="DecreasefromCart" asp-route-prodId="@cartdata.Product_ID" class="btn btn-danger fs-3 px-3">-</button>
                                </form>
                                <h2 class="text-center mx-3">@cartdata.ProductQuantity.ToString()</h2>
                                <form method="post" class="me-2">
                                    <button type="submit" asp-page-handler="AddToCart" asp-route-prodId="@cartdata.Product_ID" class="btn btn-primary fs-3">+</button>
                                </form>
                            </div>
                    </td>
                    <td class="text-center cart-cell fs-4">@(cartdata.ProductPrice*cartdata.ProductQuantity)</td>
                    <p style="display: none;">@(sum+=(cartdata.ProductPrice*cartdata.ProductQuantity))</p>
                </tr>
            </tbody>
            
        }
            <div class="carttotal">
                    <button class="btn form-control btncolor btn-secondary">
                        <span class="mx-3 fs-3">Your Total : @sum</span><span class="mx-3 fs-3">Checkout</span>
                    </button>
            </div>
        </table>
    }else{
        <div class="classempty">
            <p>Cart Is Empty</p>
        </div>
    }
   
</div>